name: Kingdom Scan

on:
  schedule:
    - cron: "0 * * * *"  # Every hour
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install requirements
      run: pip install -r requirements.txt

    - name: Run Scan
      run: python scan.py

    - name: Upload Excel
      uses: actions/upload-artifact@v3
      with:
        name: latest-excel
        path: "*.xlsx"
